@media only screen and (max-width: 685px) {
  body {
    background-color: #4d515c;
  }

  #container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 2.5rem;
  }

  .links {
    margin-top: 1rem;
  }

  .links li a {
    color: #dfe0e2;
  }
}