/* Logo */
@media only screen and (max-width: 414px) {
  #cryptocurrency {
    display: none;
  }
}

/* Nav Ul */
@media only screen and (max-width: 414px) {
  .nav-ul a {
    font-size: 18px;
  }
}

/* Search bar */
@media only screen and (max-width: 767px) {
  .search {
    display: none;
  }
}
