@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --color-one: #34394c;
  --color-two: #2e3344;
  --color-three: #b2cce4;
  --color-four: #3e445b;
  --color-five: #fc8956;
  --text-color: #f2f2f2;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  block-size: 100%;
  inline-size: 100%;
}

body {
  background: var(--color-one);
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
  min-block-size: 100%;
  min-inline-size: 100%;
  font-size: 6vmin;
}

ul {
  list-style: none;
  display: inline-flex;
}

a {
  color: var(--text-color);
  cursor: pointer;
  text-decoration: none;
}

/* NAVBAR */
.navbar {
  text-align: center;
  padding: 0.5em;
}

/* MAIN CONTAINER */
.main-container {
  background: var(--color-two);
  border-radius: 6px;
  max-width: 1110px;
  margin: 1em auto;
  padding: 0.5em 1em;
  text-align: justify;
}

.main-container .quote-container {
  font-size: 3.5vmin;
  line-height: 1.4;
  margin: 0;
  padding: 1.5em 1em;
}

.main-container .quote-container .author {
  color: var(--color-three);
  font-size: 2.5vmin;
  font-style: italic;
  margin-bottom: 1em;
}

.main-container .quote-container p {
  margin-bottom: 0.3em;
}

.main-container .quote-container span {
  color: var(--color-five);
  font-size: 1.8vmin;
}

/* Footer */
footer {
  color: var(--color-three);
  text-align: center;
  padding: 1em 0;
}

footer p {
  font-size: 3vmin;
}
