@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");

:root {
  --bg-color: rgb(255, 255, 255);
  --text-color: #4d515c;
  --border-color: #dfe0e2;
  --span-color: #12ae4a;
  --bg-grid: #f1f3fe;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  /* outline: 1px solid purple; */
}

body {
  background-color: var(--bg-color);
  font-family: "Montserrat", sans-serif;
  color: var(--text-color);
  font-size: 22px;
}

/* Span Cryptocurrencies */

.crypto {
  font-weight: 700;
  color: var(--span-color);
}

a {
  color: var(--text-color);
}

/* Header */
#container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 25px;
}

/* Nav Ul */
.nav-ul {
  display: flex;
}

.nav-ul a {
  padding: 0 15px;
}

.nav-ul a:hover {
  font-weight: 700;
}

/* Search bar */
.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search input {
  background-color: transparent;
  border: 2px solid var(--border-color);
  border-radius: 15px;
  padding: 0 10px;
  height: 30px;
  color: var(--text-color);
  font-size: 15px;
  outline: none;
}

/* Main */
#main-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: 310px;
  margin: 6rem 25px;
}

.item {
  background-color: var(--bg-grid);
}

/* Item 1 */
