@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");

:root {
  --primary-color: rgb(255, 255, 255);
  --secondary-color: #dfe0e2;
  --tertiary-color: #f1f3fe;
  --text-color: #4d515c;
  --title-color: #12ae4a;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  /* outline: 1px solid purple; */
}

body {
  background-color: var(--primary-color);
  font-family: "Montserrat", sans-serif;
  color: var(--text-color);
}

#title a {
  font-size: 1.625rem;
  color: var(--title-color);
}

a {
  color: var(--text-color);
}

/* Header */
#container {
  display: grid;
  min-height: 6.25rem;
  grid-auto-flow: column;
  gap: 0.625rem;
  align-items: center;
  justify-items: center;
}

.links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 1.625rem;
}

/* Main Container */
#main-container {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-template-rows: repeat(3, 3fr);
  gap: 0.625rem;
}

.item {
  background-color: var(--tertiary-color);
}